@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(to right, #a8edea 0%, #fed6e3 100%);
  
}

.search-form {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  min-width: 40vw;
  border: none;
  padding: 10px;
}

.search-btn {
  border: none;
  padding: 8px 20px;
  background-color: #c26e95;
  color: rgb(247, 242, 248);
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipe-block {
  width: 40vw;
  min-height: 40vh;
  background-color: rgb(248, 251, 252);
  box-shadow: 0px 5px 10px #683f5e;
  margin: 30px 20px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.recipe-block h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
}

.recipe-block p{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.recipe-block li {
  list-style: none;
}

.recipe-image {
  margin: 20px 0px;
  border-radius: 50%;
}